html {
  scroll-behavior: smooth;
}

* {
  /* font-family: "Abril Fatface", cursive; */
}

body {
  font-family: "EB Garamond", serif;
}

.top-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: cadetblue;
  align-items: center;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

#name {
  /* font-family: abril fatface; */
  font-size: 3em;
  font-weight: bolder;
}

/* .drop-nav {
  display: flex;
  
  background-color: red;
  
  height: 80px;
} */

.top-nav div {
  /* border: 2px solid white; */
  padding: 5px 10px;
}

.drop-nav {
  display: none;
}

/* .top-nav:hover + .drop-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
} */

.headshot {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: rosybrown;
  border: 3px solid green;
}

.headshot img {
  height: 500px;
  margin: 40px;
  opacity: 50%;
}

.portfolio {
  display: flex;
  flex-direction: column;

  border: 3px solid red;
  margin-bottom: 200px;

  justify-content: space-evenly;
}

.apps {
  display: flex;
  background-color: green;
  height: 300px;
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: 100px;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.icon {
  height: 100px;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.5);
}

.apps p {
  text-align: center;
  line-height: 300px;
}

.sites {
  display: flex;
  background-color: purple;
  height: 300px;
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: 100px;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.contact {
  background-color: blue;
  margin-bottom: 200px;
  height: 400px;
  margin-left: 100px;
}

footer {
  background-color: chocolate;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
