html {
  scroll-behavior: smooth;
}

* {
  /* font-family: "Abril Fatface", cursive; */
}

body {
  font-family: "DM Serif Display", serif;
  /* background-image: url(https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80); */
  /* background-color: #901414; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: left top; */
  background-color: rgb(155, 163, 182);
}

.top-nav {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  background-color: rgb(81, 90, 90);

  border: 1px solid black;

  align-items: center;
  height: 15%;
  padding-left: 40px;
  padding-right: 40px;
}

#name {
  /* font-family: abril fatface; */
  font-size: 3em;
  font-weight: bolder;
}

a {
  color: whitesmoke;
  text-decoration: none;
}
/* .drop-nav {
  display: flex;
  
  background-color: red;
  
  height: 80px;
} */

.top-nav div {
  /* border: 2px solid white; */
  padding: 5px 10px;
}

.links {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}

.drop-nav {
  display: none;
}

/* .top-nav:hover + .drop-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
} */

.headshot {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: rosybrown; */
  border: 1px solid black;
  margin-top: 10px;
}

.headshot img {
  width: 50%;
  margin: 40px;
  opacity: 50%;
}

.aboutme {
  margin: 30px 30px 30px 40px;
}

.portfolio {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  margin-bottom: 200px;
  margin-top: 100px;

  justify-content: space-evenly;
}

.apps {
  display: flex;
  /* border: 3px solid red; */

  /* background-color: green; */
  height: 300px;
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: 100px;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.icon {
  height: 100px;
  transition: transform 0.7s;
}

.icon:hover {
  transform: scale(1.5);
}

.apps p {
  text-align: center;
  /* line-height: 300px; */
}

.sites {
  display: flex;
  border-top: 1px solid black;

  /* background-color: purple; */
  height: 300px;
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: 100px;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
}

.sites p,
.apps p,
.contact p {
  background-color: rgb(81, 90, 90);
  opacity: 80%;
  padding-left: 40px;
  padding-right: 40px;
}

.contact {
  /* background-color: blue; */
  border: 1px solid black;

  margin-bottom: 200px;
  height: 400px;
  /* margin-left: 100px; */
}

footer {
  background-color: rgb(81, 90, 90);
  opacity: 80%;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .top-nav {
    flex-wrap: wrap;
  }
  .headshot,
  .apps,
  .contact {
    flex-direction: column;
  }

  .sites {
    flex-direction: column-reverse;
    border-top: none;
  }
  /* .apps,
  .sites {
    flex-direction: row;
  } */

  body {
    background-color: wheat;
  }

  .icon {
    height: 50px;
  }
}
